* {
    background: rgba(16, 15, 15, 0.7);
    primary: #da702c;
    primary-fixed: #205ea6;
    primary-fixed-dim: #da702c;
    on-primary: #100f0f;
    on-primary-fixed: #100f0f;
    on-primary-fixed-variant: #100f0f;
    primary-container: #205ea6;
    on-primary-container: #cecdc3;
    secondary: #da702c;
    secondary-fixed: #da702c;
    secondary-fixed-dim: #da702c;
    on-secondary: #100f0f;
    on-secondary-fixed: #100f0f;
    on-secondary-fixed-variant: #100f0f;
    secondary-container: #282726;
    on-secondary-container: #cecdc3;
    tertiary: #da702c;
    tertiary-fixed: #da702c;
    tertiary-fixed-dim: #da702c;
    on-tertiary: #100f0f;
    on-tertiary-fixed: #100f0f;
    on-tertiary-fixed-variant: #100f0f;
    tertiary-container: #282726;
    on-tertiary-container: #cecdc3;
    error: #d14d41;
    on-error: #601410;
    error-container: #8c1d18;
    on-error-container: #f9dedc;
    surface: #100f0f;
    on-surface: #cecdc3;
    on-surface-variant: #cecdc3;
    outline: #575653;
    outline-variant: #100f0f;
    shadow: #000000;
    scrim: #000000;
    inverse-surface: #fffcf0;
    inverse-on-surface: #100f0f;
    inverse-primary: #bc5215;
    surface-dim: #100f0f;
    surface-bright: #343331;
    surface-container-lowest: #100f0f;
    surface-container-low: #100f0f;
    surface-container: #1c1b1a;
    surface-container-high: #282726;
    surface-container-highest: #343331;
}
